%h1 Listing users

%table
	%tr
		%th Email

	- @users.each do |user|
		%tr
			%td
				= link_to user.email, user
				= link_to '', edit_user_path(user), :class=>"btn btn-small icon-edit"
				= link_to '', user, method: :delete, :class => "btn btn-small icon-remove", data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path, :class=>"btn"
