%h1= @event.title
%h2 Schedule

- @event.dtstart.to_date.upto(@event.dtend.to_date) do |day|
	= render :partial => 'events/schedule/table', :locals => { :day => day }

- if current_user && current_user.admin? then
	= link_to 'Edit', edit_event_path(@event), :class => 'btn'
	= link_to 'Delete', @event, :method => :delete, :data => { :confirm => "This will delete the event and all associated data"}, :class => 'btn btn-danger'
