
.btn-group.pull-right
	- if current_user && current_user.admin? then
		= link_to edit_event_path(@event), :class => 'btn' do
			%i.icon-edit
			Edit
		= link_to @event, :method => :delete, 
			:data => { :confirm => "This will delete the event and all associated data"}, 
			:class => 'btn btn-danger' do
			%i.icon-remove
			Delete

%h1= @event.title
%h2 Schedule

- @event.dtstart.to_date.upto(@event.dtend.to_date) do |day|
	= render :partial => 'events/schedule/table', :locals => { :day => day }

