// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-table {
    width: 100%;
    border-collapse: collapse;

    .desc {
	color: #ccc;
    }

    tr:first-child th,
    tr:first-child td { border-top: none; }

    th:first-child,
    td:first-child {
	border-left: none;
    }

    th:last-child,
    td:last-child {
	border-right: none;
    }

    tr:last-child th,
    tr:last-child td { border-bottom: none; }

    td,th {
	border: 1px dashed #ccc;
	text-align: center;
    }
}
