// Place all the styles related to the RemoteMedia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media-list {
    list-style: none;

    li {
	display: none;

	img {
	    width: 100%;
	    height: auto;
	}
    }
}
